{% extends 'header-main-footer.html' %}
{% import "macros/components.html" as m %}


{% block title %}{{ m.title(_('Contact')) }}{% endblock %}


{% block meta_description -%}
Get in touch with the Kalanjiyam team. We'd love to hear from you.
{%- endblock %}


{% block header %}
{{ m.basic_header(_('Contact')) }}
{% endblock %}


{% block main %}
<article class="p-4 md:p-0 max-w-xl mx-auto md:my-24 md:mb-36">
<p>{% trans %}
We'd love to hear from you! Please use the form below to get in touch with us.
{% endtrans %}</p>

<form method="POST" class="my-8">
  {{ form.csrf_token }}
  
  <label class="block mb-2 text-peacock-secondary">{{ _('Email address') }}</label>
  <input required type="email" name="email" class="bg-white border border-teal-200 p-2 rounded w-full"/>
  
  <label class="block my-2 text-peacock-secondary">{{ _('Message') }}</label>
  <textarea required name="message" class="bg-white border border-teal-200 p-2 rounded w-full h-48 mb-4"></textarea>
  
  <input type="submit" class="btn btn-submit" value="{{ _('Send message') }}" />
</form>
</article>
{% endblock %}
