{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}
{% block title %}{{ _('Change Password') }} | Kalanjiyam{% endblock %}
{% block body %}
<div class="auth-card">
  <div class="auth-logo">⚙</div>
  <div class="auth-heading">{{ _('Change Password') }}</div>
  <p class="auth-subheading">{{ current_user.username }}</p>
  {{ components.flash_messages() }}
  {{ mf.show_errors_if_any(form.errors) }}
  <form method="POST">
    {{ form.csrf_token }}
    {{ form.old_password(class_="auth-input", placeholder=_("Current password")) }}
    {{ form.new_password(class_="auth-input", placeholder=_("New password")) }}
    <button type="submit" class="auth-btn">{{ _('Update Password') }}</button>
  </form>
</div>
{% endblock %}
