{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}

{% block title %}{{ _('Change password') }}{% endblock %}

{% block content %}
<form method="POST" class="form">
    {{ form.csrf_token }}
    <p class="title">{{ _('Change Password') }}</p>
    <p class="message">{{ _('Update your account security.') }}</p>

    <label>
      {{ form.old_password(class_="input", placeholder=" ") }}
      <span>{{ _('Old Password') }}</span>
    </label> 

    <label>
      {{ form.new_password(class_="input", placeholder=" ") }}
      <span>{{ _('New Password') }}</span>
    </label> 

    <button type="submit" class="submit">{{ _('Update Password') }}</button>
</form>
{% endblock %}
