{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}

{% block title %}{{ components.title(_('Register')) }}{% endblock %}

{% block content %}
<form method="POST" class="form">
    {{ form.csrf_token }}
    <p class="title">{{ _('Register') }}</p>
    <p class="message">{{ _('Create a Kalanjiyam account.') }}</p>

    <label>
      {{ form.username(class_="input", placeholder=" ") }}
      <span>{{ _('Username') }}</span>
    </label> 

    <label>
      {{ form.email(class_="input", placeholder=" ") }}
      <span>{{ _('Email') }}</span>
    </label> 
        
    <label>
      {{ form.password(class_="input", placeholder=" ") }}
      <span>{{ _('Password') }}</span>
    </label>

    {% if form.recaptcha %}
    <div class="mb-4">
      {{ form.recaptcha }}
    </div>
    {% endif %}

    <button type="submit" class="submit">{{ _('Create account') }}</button>
    
    <p class="signin">
      {{ _('Already have an account?') }} 
      <a href="{{ url_for('auth.sign_in') }}">{{ _('Sign In') }}</a>
    </p>
</form>
{% endblock %}
