{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}

{% block title %}{{ components.title(_('Reset your password')) }}{% endblock %}

{% block content %}
<form method="POST" class="form">
    {{ form.csrf_token }}
    <p class="title">{{ _('Reset Password') }}</p>
    
    <p class="description-text">
    {% trans %}
    Enter the email address that you used when you signed up for Kalanjiyam. We'll
    send you an email with a password reset link.
    {% endtrans %}
    </p>

    <label>
      {{ form.email(class_="input", placeholder=" ") }}
      <span>{{ _('Email address') }}</span>
    </label>

    {% if form.recaptcha %}
    <div class="mb-4">
      {{ form.recaptcha }}
    </div>
    {% endif %}

    <button type="submit" class="submit">{{ _('Send reset link') }}</button>
    
    <p class="signin">
      <a href="{{ url_for('auth.sign_in') }}">{{ _('Back to Login') }}</a>
    </p>
</form>
{% endblock %}
