{% extends 'base-auth-form.html' %}
{% import "macros/forms.html" as mf %}
{% block title %}{{ _('Set New Password') }} | Kalanjiyam{% endblock %}
{% block body %}
<div class="auth-card">
  <div class="auth-logo">🔒</div>
  <div class="auth-heading">{{ _('New Password') }}</div>
  <p class="auth-subheading">{{ _('Setting password for') }} <strong>{{ username }}</strong></p>
  {{ mf.show_errors_if_any(form.errors) }}
  <form method="POST">
    {{ form.csrf_token }}
    {{ form.password(class_="auth-input", placeholder=_("New password")) }}
    {{ form.confirm_password(class_="auth-input", placeholder=_("Confirm password")) }}
    <button type="submit" class="auth-btn">{{ _('Set New Password') }}</button>
  </form>
</div>
{% endblock %}
