{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}
{% block title %}{{ components.title(_('Sign in')) }}{% endblock %}
{% set forgot = url_for('auth.get_reset_password_token') %}
{% block body %}
<div class="auth-card">
  <div class="auth-logo">✦</div>
  <div class="auth-heading">{{ _('Sign In') }}</div>
  <p class="auth-subheading">{{ _('Welcome back to Kalanjiyam') }}</p>
  {{ mf.show_errors_if_any(form.errors) }}
  {{ components.flash_messages() }}
  <form method="POST">
    {{ form.csrf_token }}
    {{ form.username(class_="auth-input", placeholder=_("Username")) }}
    {{ form.password(class_="auth-input", placeholder=_("Password")) }}
    <span class="auth-forgot"><a href="{{ forgot }}">{{ _('Forgot Password?') }}</a></span>
    <button type="submit" class="auth-btn">{{ _('Sign In') }}</button>
  </form>
  <hr class="auth-divider">
  <span class="auth-agreement"><a href="#">{{ _('Learn user licence agreement') }}</a></span>
</div>
{% endblock %}
