{% extends 'proofing/base.html' %}
{% import "macros/components.html" as components %}
{% import "macros/celery.html" as m_cel %}
{% import "macros/proofing.html" as m %}
{% import "macros/talk.html" as m_talk %}
{% import "macros/forms.html" as mf %}


{% block title %}Creating Project | Ambuda{% endblock %}


{% block content %}
<div class="premium-gradient-bg min-h-screen p-4 md:p-8">
  <div class="max-w-4xl mx-auto">
    <div class="mb-12 text-center">
      <h1 class="text-5xl font-extrabold peacock-text-gradient mb-4">{{ _("Project Creation") }}</h1>
      
      {% if percent < 100 %}
        <p class="text-xl text-peacock-secondary mb-4">
          {% trans %}
          We are currently creating your project. If you accidentally close this page,
          don't worry: your project will still be created.
          {% endtrans %}
        </p>

        <p class="text-lg text-peacock-secondary/80">
          {% trans %}
          You can track progress below. This updates every 5 seconds.
          {% endtrans %}
        </p>
      {% endif %}
    </div>

    {% set url = url_for('proofing.create_project_status', task_id=task_id) %}
    <div x-data="htmlPoller('{{ url }}')">
      {% with current=current, total=total, percent=percent, slug=slug, status=status %}
        {% include 'include/task-progress.html' %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}
