{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}


{% block title %}{{ components.title(_('Register')) }}{% endblock %}


{% block body %}
<div class="auth-container">
  {{ mf.show_errors_if_any(form.errors) }}

  <div class="auth-card max-w-md mx-auto">
    <h1 class="heading">{{ _('Create a Kalanjiyam account') }}</h1>
    <form method="POST" class="auth-form">
      {{ form.csrf_token }}
      {{ mf.auth_field(form.username) }}
      {{ mf.auth_field(form.password) }}
      {{ mf.auth_field(form.email) }}
      {{ mf.auth_submit(_("Create account")) }}
    </form>
  </div>
</div>
{% endblock %}
