{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}


{% block title %}{{ components.title(_('Reset your password')) }}{% endblock %}


{% set discord = "https://discord.gg/7rGdTyWY7Z" %}
{% block body %}
<div class="auth-container">
  {{ mf.show_errors_if_any(form.errors) }}
  {{ components.flash_messages() }}

  <div class="auth-card max-w-md mx-auto">
    <div class="heading">{{ _('Reset Password') }}</div>
    <p class="text-slate-600 leading-7 mb-6">{% trans %}
    {% endtrans %}</p>

    <form method="POST" class="auth-form">
      {{ form.csrf_token }}
      {{ form.email(class_="auth-input", placeholder=_("Enter your email address")) }}
      <input type="submit" class="auth-login-button w-full" value="{{ _('Send password reset email') }}">
    </form>
  </div>
</div>
{% endblock %}

