{% extends 'base-auth-form.html' %}
{% import "macros/components.html" as components %}
{% import "macros/forms.html" as mf %}


{% block title %}{{ components.title(_('Sign in')) }}{% endblock %}


{% set forgot = url_for('auth.get_reset_password_token') %}
{% block body %}
<div class="auth-container">
  {{ mf.show_errors_if_any(form.errors) }}
  {{ components.flash_messages() }}

  <div class="auth-card max-w-md mx-auto">
    <div class="heading">{{ _('Sign In') }}</div>
    <form method="POST" class="auth-form">
      {{ form.csrf_token }}
      {{ mf.auth_field(form.username) }}
      <div class="mb-4">
        <div class="flex items-center justify-between">
          {{ mf.auth_label(form.password) }}
          <a class="forgot-password" href="{{ forgot }}">{{ _('Forgot Password ?') }}</a>
        </div>
        {{ mf.auth_input(form.password) }}
      </div>
      {{ mf.auth_submit(_("Sign In")) }}
    </form>

    <span class="agreement"><a href="#">{{ _('Learn user licence agreement') }}</a></span>
  </div>
</div>
{% endblock %}
